<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<form method="post" action="@Url.Action("FireAndForget", "Home")">
			<input type="text" name="parametro" value="parametro" />
			<input type="submit" value="Click para postar" />
		</form>
	</div>
</div>