<a href="~/hangfire">Hangfire</a>
<br />
@Html.ActionLink("Fire and forget", "FireAndForget")
<br />
@Html.ActionLink("Fire and forget bigger", "FireAndForgetBigger")
<br />
@Html.ActionLink("RecurringJob", "RecurringJob")